*.log
.DS_Store
.coverage
.coverage-integration
.coverage-unit
.editorconfig
.env
.envrc
.idea
.ipfs-docker
.nyc_output
.tscache
.vscode
Docker/data
coverage
dist
node_modules
rules
screenshots
temp.text
vault.json
docker-compose.override.yml
wait-for-its.sh