{
    "extension": [
        ".ts"
    ],
    "include": [
      "src/**/*.ts"
    ],
    "exclude": [
        "**/*.test.ts",
        "./tests/**/*.*",
        "./test/**/*.*",
        "./dist/**/*.*",
        "./coverage/**/*.*"
    ],
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "all": true,
    "cache": false,
    "esModules": true,
    "staticType": "typescript",
    "plugins": ["classProperties", ["decorators", { "decoratorsBeforeExport": true }]]
}