version: '3.6'

services:
  mongo:
    image: mongo:3.7
    ports:
      - "27017:27017"
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=rootPass
      - POET_DB=poet
      - POET_DB_USER=poet
      - POET_DB_PASSWORD=poetPass
    volumes:
      - db:/data/db
      - ./mongodb:/docker-entrypoint-initdb.d

  rabbit:
    image: rabbitmq:3
    ports:
      - "5671:5671"
      - "5672:5672"
    environment:
      - RABBITMQ_ERLANG_COOKIE=some_secret_cookie
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=adminPass

  ipfs:
    image: ipfs/go-ipfs:v0.4.18
    ports:
      - "8080:8080"
      - "4001:4001"
      - "5001:5001"
    volumes:
      - data:/data/ipfs

  bitcoind-1:
    image: ruimarinho/bitcoin-core:0.17.0
    ports:
      - "18443:18443"
    volumes:
      - type: tmpfs
        target: /home/bitcoin/.bitcoin
    restart: always
    command:
      -printtoconsole
      -server
      -testnet=${USE_BTC_TESTNET:-0}
      -regtest=${USE_BTC_REGTEST:-1}
      -rpcuser=bitcoinrpcuser
      -rpcpassword=bitcoinrpcpassword
      -rpcallowip=::/0
      -deprecatedrpc=signrawtransaction

  bitcoind-2:
    image: ruimarinho/bitcoin-core:0.17.0
    ports:
      - "19443:18443"
    volumes:
      - type: tmpfs
        target: /home/bitcoin/.bitcoin
    restart: always
    command:
      -printtoconsole
      -server
      -testnet=${USE_BTC_TESTNET:-0}
      -regtest=${USE_BTC_REGTEST:-1}
      -rpcuser=bitcoinrpcuser
      -rpcpassword=bitcoinrpcpassword
      -rpcallowip=::/0
      -deprecatedrpc=signrawtransaction

  #k6:
  #  build:
  #    context: .
  #    dockerfile: ./Docker/Dockerfile.stress
  #  environment:
  #    - NODE_HOST=http://poet-node:18080
  #  volumes:
  #    - .:/usr/src/app

  poet-node:
    build: .
    ports:
      - "18080:18080"
    depends_on:
      - mongo
      - rabbit
      - ipfs
      - bitcoind-1
      - bitcoind-2
    environment:
      - POET_SERVICE=node
      - BITCOIN_URL=bitcoind-1
      - BITCOIN_URL_B=bitcoind-2
      - RABBITMQ_URL=amqp://admin:adminPass@rabbit
      - MONGODB_HOST=mongo
      - MONGODB_USER=poet
      - MONGODB_PASSWORD=poetPass
      - IPFS_URL=http://ipfs:5001
      - IPFS_ARCHIVE_URL_PREFIX=http://ipfs:8080/ipfs
      - INTEGRATION_TEST_NODE_URL=http://poet-node:18080
      - GH_TOKEN=${GH_TOKEN:-''}
      - NPM_TOKEN=${NPM_TOKEN:-''}
    volumes:
      - ./Docker/tools/wait-for-it.sh:/wait-for-it.sh
    links:
      - mongo
      - rabbit
      - ipfs
    command: sh -c '/wait-for-it.sh mongo:27017 -- /wait-for-it.sh rabbit:5672 -t 30 -- npm run start'
  poet-node-blockchain-writer:
    build: .
    depends_on:
      - mongo
      - rabbit
      - bitcoind-1
      - bitcoind-2
    environment:
      - POET_SERVICE=blockchain-writer
      - BITCOIN_URL=bitcoind-1
      - BITCOIN_URL_B=bitcoind-2
      - RABBITMQ_URL=amqp://admin:adminPass@rabbit
      - MONGODB_HOST=mongo
      - MONGODB_USER=poet
      - MONGODB_PASSWORD=poetPass
      - GH_TOKEN=${GH_TOKEN:-''}
      - NPM_TOKEN=${NPM_TOKEN:-''}
    volumes:
      - ./Docker/tools/wait-for-it.sh:/wait-for-it.sh
    links:
      - mongo
      - rabbit
      - bitcoind-1
      - bitcoind-2
    command: sh -c '/wait-for-it.sh mongo:27017 -- /wait-for-it.sh rabbit:5672 -t 30 -- npm run start:blockchain-writer'


volumes:
  db:
    driver: local

  data:
    driver: local
