version: '3'

services:
  rabbit:
    # image: rabbitmq:3-management
    # ports:
    #   - "15672:15672" # Allows access to the UI for this management image

  bitcoind-1:
    # volumes:
    #   - bitcoind1:/home/bitcoin/.bitcoin

  # This is part of the override config because it is only needed when
  # running functional tests. Someone checking out the repo and wanting
  # to just run a poet node only needs bitcoind-1.
  bitcoind-2:
    # image: ruimarinho/bitcoin-core:0.16.3
    # volumes:
    #   - bitcoind2:/home/bitcoin/.bitcoin
    # ports:
    #   - "19443:18443"
    # command:
    #   -printtoconsole
    #   -testnet=${USE_BTC_TESTNET:-0}
    #   -regtest=${USE_BTC_REGTEST:-1}
    #   -rpcuser=bitcoinrpcuser
    #   -rpcpassword=bitcoinrpcpassword
    #   -rpcallowip=::/0
    #   -server
    #   -deprecatedrpc=signrawtransaction
    #   -addnode=bitcoind-1
    # links:
    #   - bitcoind-1:bitcoind-1

  poet-node:
    environment:
      - ENABLE_TIMESTAMPING=true
    # volumes:
    #   - .:/usr/src/app
    # command: sleep infinity

# volumes:
#   bitcoind1:
#     driver: local
#
#   bitcoind2:
#     driver: local
