version: '3.6'

services:
  mongo:
    # command: mongod --httpinterface --rest --smallfiles --logpath=/dev/null

  rabbit:
    # image: rabbitmq:3-management
    # ports:
    #   - "15672:15672" # Allows access to the UI for this management image

  poet-node:
    environment:
      - ENABLE_ANCHORING=true
    # volumes:
    #   - .:/usr/src/app
    # command: sleep infinity

  # Uncomment this service to automatically generate a new block every 5 seconds.
  # regtest-watcher:
  #   image: node_poet-node:latest
  #   depends_on:
  #     - poet-node
  #     - bitcoind-1
  #   environment:
  #     - POET_SERVICE=regtest-watcher
  #     - BITCOIN_NEW_BLOCK_INTERVAL_MS=5000
  #   links:
  #     - bitcoind-1
  #   command: scripts/regtest-watcher.js
